ion-header {
  --border: 0px;

  ion-toolbar {
    --background: var(--ion-color-dark);
  }
}

ion-searchbar {
  --background: var(--ion-color-medium-shade);
  --border-radius: 12px;
  border: 2px;
  --color: var(--ion-color-medium-contrast);
  --icon-color: var(--ion-color-medium-tinit);
  --placeholder-color: var(--ion-color-medium-tinit);
  --placeholder-opacity: 0.5;
  font-family: "spotify-light";
}

.searchRow {
  border-bottom: 0.5px solid #1a1919 !important;
  overflow: hidden;
  height: 80px;
  .iconCol {
    display: flex;
    justify-content: center !important;
  }
  ion-col {
    ion-img {
      border-radius: 10px;
      overflow: hidden;
    }
    ion-icon {
      color: #ffffff;
      font-size: 12px;
      //  transform: rotate(90deg);
    }

    h2 {
      font-size: 18px;
      color: var(--ion-color-light-shade);
    }

    h4 {
      color: #fff;
      font-size: 15px;
      font-family: "spotify";
      font-weight: lighter;
    }
    p {
      color: rgb(197, 197, 197);
      font-size: 12px;
      font-family: "spotify";
      font-weight: lighter;
    }
  }
}

ion-list {
  display: flex;
  flex-wrap: wrap;
  background: var(--ion-color-dark);
  ion-item {
    width: 50%;
    text-align: left;
    --background: var(--ion-color-dark);

    div {
      ion-img {
        border: 2px solid var(--ion-color-dark);
        border-radius: 12px;
        overflow: hidden;
      }
      h4 {
        font-size: 12px;
        font-family: "spotify-light";
        color: #fff;
      }
    }
  }
}
