<ion-header>
  <ion-toolbar class="ion-no-padding">
    <h2 class="section-header-Global">Search</h2>
    <ion-searchbar
      placeholder="Artists, Songs, Lyrics and More"
      [debounce]="250"
      (ionChange)="onSearchChange($event)"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row *ngIf="searchValue === ''">
    <ion-col size="12" class="ion-no-padding">
      <h2 class="section-header-Global">Top Songs Global</h2>
    </ion-col>
    <ion-list>
      <ion-item
        *ngFor="let track of tracks"
        lines="none"
        (click)="onSongSelect(track)"
        [style.display]=" track.avatar ? '' :'none' "
      >
        <div>
          <ion-img [src]="track.avatar" />
          <h4>{{ track.songTitle }}</h4>
        </div>
      </ion-item>
    </ion-list>

    <ion-infinite-scroll
      threshold="25%"
      [disabled]="true"
      position="bottom"
      (ionInfinite)="onIonInfinite($event)"
    >
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data..."
      >
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-row>

  <div class="ion-padding" *ngIf="searchValue !== ''">
    <ion-row
      *ngFor="let item of searchData"
      class="searchRow ion-align-items-center"
      (click)=" item.songTitle? onSongSelect(item) : navigationWithHerf(item.shareHerf)"
      tappable
    >
      <ion-col size="2">
        <ion-img [src]="item?.avatar"></ion-img>
      </ion-col>
      <ion-col size="8">
        <h4>{{item?.songTitle ? item.songTitle : item.artist}}</h4>
        <p class="ion-no-padding">
          {{item?.songTitle ? 'Song - '+ item?.artist: 'Artist'}}
        </p>
      </ion-col>
      <ion-col size="2" class="iconCol">
        <ion-icon
          class="ion-algin-self-end"
          color="light"
          name="arrow-forward"
        ></ion-icon>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
