ion-content {
  --padding-top: 40px;
}

.title {
  color: #fff;
  font-family: "Spotify";
  font-size: small;
}

ion-slide {
  display: block;
  text-align: left;
}

ion-slides {
  margin-bottom: 20px;
}
